In [15]:
import pandas as pd

In [16]:
# Load CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\lukas\Code\Scrapers\data.csv")

In [17]:
# Capitalize the strings in the 'categories' column
df['categories'] = df['categories'].str.capitalize()
df.head()

,listing_name,categories,seniority,required_skills
0,Programista ds. Automatyzacji Testw,Testing,Mid,"['Java', 'Python', 'JavaScript', 'Selenium', '..."
1,Data Engineer,Data,Mid,"['Python', 'ETL', 'Spark', 'RDBMS', 'PySpark',..."
2,Golang/Python Software Engineer,Python,Mid,"['Python', 'Kubernetes', 'Golang', 'Docker', '..."
3,Big Data Engineer Want-To-Be,Data,Junior,"['Python', 'Java', 'Big Data', 'Scala', 'Cloud..."
4,NLP Developer,Python,Senior,"['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML..."

In [18]:
# Rename seniority labels to make only three possibilities Junior, Mid, Senior. One scraped website had only this 3 possibilities and it was creating inconsistency
df["seniority"] = df["seniority"].replace({"Trainee": "Junior", "Trainee, Junior": "Junior"})
df["seniority"] = df["seniority"].replace({"Mid, Senior": "Mid"})
df["seniority"] = df["seniority"].replace({"Senior, Expert": "Senior", "Expert": "Senior"})

In [19]:
# Save data
df.to_csv("data.csv", index=False)