In [19]:
import pandas as pd

In [37]:
df = pd.read_csv(r"C:\Users\lukas\Code\Scrapers\merged_data.csv", encoding_errors="ignore")
df.index += 1
df.head(5)

,listing_name,categories,seniority,required_skills
1,Programista ds. Automatyzacji Testw,testing,mid,"['Java', 'Python', 'JavaScript', 'Selenium', '..."
2,Data Engineer,data,mid,"['Python', 'ETL', 'Spark', 'RDBMS', 'PySpark',..."
3,Golang/Python Software Engineer,python,mid,"['Python', 'Kubernetes', 'Golang', 'Docker', '..."
4,Big Data Engineer Want-To-Be,data,junior,"['Python', 'Java', 'Big Data', 'Scala', 'Cloud..."
5,NLP Developer,python,senior,"['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML..."

In [52]:
seniority = df.groupby("seniority")["seniority"].count().reset_index(name="count").sort_values(["count"], ascending=False).reset_index(drop=True)
df.shape
print(seniority)

         seniority  count
0              mid    268
1           senior    240
2      mid, senior     91
3           junior     37
4   senior, expert     26
5           expert      7
6  trainee, junior      4
7          trainee      1

In [51]:
df_obj = df.select_dtypes(["object"])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [55]:
df.to_csv("Final_data.csv", index=False)