In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv(r"C:\Users\lukas\Code\Scrapers\nfj_data\working_listings_nfj.csv", encoding_errors="ignore")
df.head(5)

,listing_name,categories,seniority,required_skills
0,GoLang Backend Developer,"[' Backend ', ' Golang ']",Mid,"[' Golang ', ' Python ', ' Bash ', ' Go ', ' d..."
1,Remote Python Developer,"[' Backend ', ' Python ']",Mid,"[' Python ', ' Docker ', ' Kubernetes ', ' SQL ']"
2,Mid/Senior Python DevOps Engineer,"[' DevOps ', ' Python ']","Mid, Senior","[' Python ', ' Bash ', ' Varnish ', ' Nginx ',..."
3,BI Reporting,[' Business Intelligence '],Mid,"[' spotfire ', ' Python ', ' SQL ']"
4,Azure Tech Lead,[' Business Intelligence '],Senior,"[' Azure ', ' Data Engineering ', ' SQL ', ' E..."
5,Senior Test Automation Engineer (Python),"[' Testing ', ' Python ']",Senior,"[' Python ', ' Selenium ', ' pytest ', ' QA ',..."
6,DevOps Engineer,[' DevOps '],Mid,"[' Bash/Python/Golang ', ' Docker ', ' Linux '..."
7,Python Developer,"[' Backend ', ' Python ']",Mid,"[' Python ', ' Django ', ' REST ', ' Docker ']"
8,Test Engineer for Avigilon Cameras,"[' Testing ', ' Python ']",Mid,"[' Python ', ' Photography ']"
9,Manager of QA & Automation,"[' Testing ', ' Selenium ']",Senior,"[' Selenium ', ' Puppeteer ', ' Cypress ', ' A..."

In [18]:
df.head()

,listing_name,categories,seniority,required_skills
1,Remote Python Developer,python,Mid,"[' Python ', ' Docker ', ' Kubernetes ', ' SQL ']"
2,Mid/Senior Python DevOps Engineer,devops,"Mid, Senior","[' Python ', ' Bash ', ' Varnish ', ' Nginx ',..."
3,BI Reporting,analytics,Mid,"[' spotfire ', ' Python ', ' SQL ']"
4,Azure Tech Lead,analytics,Senior,"[' Azure ', ' Data Engineering ', ' SQL ', ' E..."
5,Senior Test Automation Engineer (Python),testing,Senior,"[' Python ', ' Selenium ', ' pytest ', ' QA ',..."

In [17]:
pd.set_option("display.max_rows", None)

categories = df.groupby("categories")["categories"].count().reset_index(name="count").sort_values(["count"], ascending=False).reset_index(drop=True)
categories.index = np.arange(1, len(categories)+1)
print(categories)

   categories  count
1        data     70
2      devops     62
3      python     62
4     testing     32
5   analytics     14
6       other      5
7    security      5
8       admin      4
9          []      1
10         pm      1
11    support      1

In [16]:
# Remove rows containing values listed in parenthesisls
df = df[df["categories"].str.contains("Java|.NET|Javascript|C++|C|C#|React|Scala|Golang|Embedded|Fullstack") == False]

In [14]:
df.loc[df["categories"].str.contains("Business Intelligence", case=False), "categories"] = "analytics"
df.loc[df["categories"].str.contains("Business Analysis", case=False), "categories"] = "analytics"
df.loc[df["categories"].str.contains("Big Data", case=False), "categories"] = "data"
df.loc[df["categories"].str.contains("devops", case=False), "categories"] = "devops"
df.loc[df["categories"].str.contains("Security", case=False), "categories"] = "security"
df.loc[df["categories"].str.contains("testing", case=False), "categories"] = "testing"
df.loc[df["categories"].str.contains("ai", case=False), "categories"] = "data"
df.loc[df["categories"].str.contains("support", case=False), "categories"] = "support"
df.loc[df["categories"].str.contains("it administrator", case=False), "categories"] = "admin"
df.loc[df["categories"].str.contains("python", case=False), "categories"] = "python"
df.loc[df["categories"].str.contains("backend", case=False), "categories"] = "python"
df.loc[df["categories"].str.contains("mobile", case=False), "categories"] = "python"
df.loc[df["categories"].str.contains("inne", case=False), "categories"] = "other"
df.loc[df["categories"].str.contains("agile", case=False), "categories"] = "pm"