In [1]:
import pandas as pd

In [68]:
df = pd.read_csv(r"C:\Users\lukas\Code\Scrapers\nfj_data\working_listings_nfj.csv", encoding_errors="ignore")
df.head(10)

,listing_name,categories,seniority,required_skills
0,GoLang Backend Developer,"[' Backend ', ' Golang ']",Mid,"[' Golang ', ' Python ', ' Bash ', ' Go ', ' d..."
1,Remote Python Developer,"[' Backend ', ' Python ']",Mid,"[' Python ', ' Docker ', ' Kubernetes ', ' SQL ']"
2,Mid/Senior Python DevOps Engineer,"[' DevOps ', ' Python ']","Mid, Senior","[' Python ', ' Bash ', ' Varnish ', ' Nginx ',..."
3,BI Reporting,[' Business Intelligence '],Mid,"[' spotfire ', ' Python ', ' SQL ']"
4,Azure Tech Lead,[' Business Intelligence '],Senior,"[' Azure ', ' Data Engineering ', ' SQL ', ' E..."
5,Senior Test Automation Engineer (Python),"[' Testing ', ' Python ']",Senior,"[' Python ', ' Selenium ', ' pytest ', ' QA ',..."
6,DevOps Engineer,[' DevOps '],Mid,"[' Bash/Python/Golang ', ' Docker ', ' Linux '..."
7,Python Developer,"[' Backend ', ' Python ']",Mid,"[' Python ', ' Django ', ' REST ', ' Docker ']"
8,Test Engineer for Avigilon Cameras,"[' Testing ', ' Python ']",Mid,"[' Python ', ' Photography ']"
9,Manager of QA & Automation,"[' Testing ', ' Selenium ']",Senior,"[' Selenium ', ' Puppeteer ', ' Cypress ', ' A..."

In [74]:
pd.set_option("display.max_rows", None)
categories = df.groupby("categories")["categories"].count().reset_index(name="count").sort_values(["count"], ascending=False)
print(categories)

TypeError: unhashable type: 'list'

In [72]:
df["categories"] = df.categories.apply(lambda x: x[1:-1].split(','))
print(df.categories[0][0])

AttributeError: 'list' object has no attribute 'split'

In [73]:
df['categories'] = [[val.strip("', ") for val in sublist] for sublist in df['categories'].values]
print(df["categories"][0])

['[', '', '', 'B', 'a', 'c', 'k', 'e', 'n', 'd', '', '', '', '', '', '', 'G', 'o', 'l', 'a', 'n', 'g', '', '', ']']