In [11]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\lukas\COde\Scrapers\jjit_data\working_listings_jjit.csv", encoding_errors="ignore")
df.head()

,listing_name,categories,seniority,required_skills
0,Programista ds. Automatyzacji Testw,testing,mid,"['Java', 'Python', 'JavaScript', 'Selenium', '..."
1,Data Engineer,data,mid,"['Python', 'ETL', 'Spark', 'RDBMS', 'PySpark',..."
2,Golang/Python Software Engineer,python,mid,"['Python', 'Kubernetes', 'Golang', 'Docker', '..."
3,Big Data Engineer Want-To-Be,data,junior,"['Python', 'Java', 'Big Data', 'Scala', 'Cloud..."
4,NLP Developer,python,senior,"['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML..."

In [20]:
categories = df.groupby("categories")["categories"].count().reset_index(name="count").sort_values(["count"], ascending=False).reset_index(drop=True)
categories.index = np.arange(1, len(categories)+1)
categories.head(13)

      categories  count
1         python    148
2           data     79
3         devops     56
4        testing     44
5          admin     17
..           ...    ...
7      analytics      5
8             pm      4
9       security      4
10  architecture      3
11         other      3

[11 rows x 2 columns]

In [19]:
df.drop(df.loc[df["categories"].isin(["php", "scala", "ruby", "go", "net", "java", "javascript", "c"])].index, inplace=True)

In [16]:
pd.set_option("display.max_rows", 10)
print(df.loc[df["categories"]=="python"])

                             listing_name categories seniority  \
2         Golang/Python Software Engineer     python       mid
4                           NLP Developer     python    senior
5                Lead Full Stack Engineer     python    senior
8                        Python Developer     python       mid
10                       Support Engineer     python       mid
..                                    ...        ...       ...
360               Remote Python Developer     python       mid
361            Python FullStack Developer     python    senior
364               Junior Python Developer     python    junior
366  Remote Mid Data Engineer with Python     python       mid
368           Remote Senior Data Engineer     python    senior

                                       required_skills
2    ['Python', 'Kubernetes', 'Golang', 'Docker', '...
4    ['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML...
5    ['Python', 'Django', 'Vue.js', 'Nuxt', 'JavaSc...
8    ['Polish', 'Python', 'Linux', 'English', 'MySQ...
10   ['Python', 'PySpark', 'SQL', 'Java', 'JavaScri...
..                                                 ...
360             ['Python', 'English', 'HTTP protocol']
361  ['Python', 'Django', 'ReactJS', 'REST API', 'C...
364  ['Python', 'Linux', 'Git', 'REST', 'DevOps', '...
366  ['Python', 'SQL', 'Scala', 'Databases', 'Apach...
368  ['Python', 'ETL', 'ETL tools', 'Databases', 'M...

[148 rows x 4 columns]

In [ ]:
df.to_csv("working_listings_jjit.csv", index=False)