In [2]:
import pandas as pd

In [49]:
df = pd.read_csv(r"C:\Users\lukas\COde\Scrapers\jjit_data\working_listings_jjit.csv", encoding_errors="ignore")
df.head()

,listing_name,categories,seniority,required_skills
0,Programista ds. Automatyzacji Testw,testing,mid,"['Java', 'Python', 'JavaScript', 'Selenium', '..."
1,Data Engineer,data,mid,"['Python', 'ETL', 'Spark', 'RDBMS', 'PySpark',..."
2,Golang/Python Software Engineer,python,mid,"['Python', 'Kubernetes', 'Golang', 'Docker', '..."
3,Big Data Engineer Want-To-Be,data,junior,"['Python', 'Java', 'Big Data', 'Scala', 'Cloud..."
4,NLP Developer,python,senior,"['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML..."

In [48]:
categories = df.groupby("categories")["categories"].count().reset_index(name="count").reindex().sort_values(["count"], ascending=False)
categories.head(60)

      categories  count
7         python    148
3           data     79
4         devops     56
10       testing     44
0          admin     17
9        support      7
1      analytics      5
6             pm      4
8       security      4
2   architecture      3
5          other      3

In [47]:
df.drop(df.loc[df["categories"].isin(["php", "scala", "ruby", "go", "net", "java", "javascript", "c"])].index, inplace=True)

In [50]:
print(df.loc[df["categories"]=="other"])

                        listing_name categories seniority  \
130      VoiceBot Dialogue Developer      other    junior
243  Observability Platform Engineer      other       mid
315                   Technical Lead      other       mid

                                       required_skills
130                          ['Python', 'Java', 'SQL']
243       ['InfluxDB', 'Python', 'Linux', 'ELK Stack']
315  ['Leadership', 'Software Development', 'Proble...