In [7]:
import pandas as pd
import os

In [30]:
df = pd.read_csv(r"C:\Users\lukas\COde\Scrapers\jjit_data\working_listings_jjit.csv", encoding_errors="ignore")
df.head()

,listing_name,categories,seniority,required_skills
0,Programista ds. Automatyzacji Testw,testing,mid,"['Java', 'Python', 'JavaScript', 'Selenium', '..."
1,Data Engineer,data,mid,"['Python', 'ETL', 'Spark', 'RDBMS', 'PySpark',..."
2,Golang/Python Software Engineer,python,mid,"['Python', 'Kubernetes', 'Golang', 'Docker', '..."
3,Big Data Engineer Want-To-Be,data,junior,"['Python', 'Java', 'Big Data', 'Scala', 'Cloud..."
4,NLP Developer,python,senior,"['NLP', 'Polish', 'English', 'PyTorch', 'AI/ML..."

In [45]:
categories = df.groupby("categories")["categories"].count()
categories.head(60)

categories
admin            17
analytics         5
architecture      3
c                19
data             79
devops           56
go                4
java             13
javascript       13
net              12
other             3
php               1
pm                4
python          148
ruby              2
scala             2
security          4
support           7
testing          44
Name: categories, dtype: int64