In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in a CSV file and ignore encoding errors
df = pd.read_csv(r"C:\Users\lukas\COde\Scrapers\jjit_data\working_listings_jjit.csv", encoding_errors="ignore")

In [3]:
# Count all categories apperances and sort it in descending order
categories = df.groupby("categories")["categories"].count().reset_index(name="count").sort_values(["count"], ascending=False).reset_index(drop=True)
categories.index = np.arange(1, len(categories)+1)
categories.head(13)

    categories  count
1       python    148
2         data     79
3       devops     56
4      testing     44
5            c     19
6        admin     17
7         java     13
8   javascript     13
9          net     12
10     support      7
11   analytics      5
12          go      4
13          pm      4

In [4]:
# Get rid off categories that are not relevant
df.drop(df.loc[df["categories"].isin(["php", "scala", "ruby", "go", "net", "java", "javascript", "c"])].index, inplace=True)

In [5]:
# Save cleaned file to CSV
df.to_csv("working_listings_jjit.csv", index=False)